@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


:root{
  /*colours*/
  --firstcolor: #235DB1;
  --secoundcolor: #A6B3FF;
  --thirdcolour: #E0E2E9;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.container{
  position: relative;
  padding: 200px;
}

.sliders{
  transform: translateY(-50%);
  width: 100%;
  display: grid;
}

/*Slider 1 styles*/
.sliders1{
  margin-top: 10px;
}



.css-lvo59x-MuiSlider-rail{
  /* color: #E0E2E9; */
}


.css-1n3nhmr-MuiSlider-thumb{
  color: #235DB1;
}

.MuiSlider-valueLabelLabel{
    background: none;
}

.css-1e8xd4h-MuiSlider-valueLabel{
  color: #235DB1;
}

.css-wzys6z-MuiSlider-track{
  color: #235DB1;
}



/*Slider 2 styles*/
.sliders2 .css-1n3nhmr-MuiSlider-thumb{
  color: #235DB1;;
}

.sliders2 .MuiSlider-valueLabelLabel{
  background: none;
}

.sliders2 .css-1e8xd4h-MuiSlider-valueLabel{
color: #235DB1;;
}

.sliders2 .css-wzys6z-MuiSlider-track{
color: #235DB1;;
}









