:root{
  /*colours*/
  --firstcolor: #235DB1;
  --secoundcolor: #A6B3FF;
  --thirdcolour: #E0E2E9;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #819cbe;
}

.container{
  position: relative;
  padding: 200px;
}


element.style {
  position: relative;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 100px;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background: rgb(35,93,177);
  border: 0;
  border-radius: 5px;
}
.example-track.example-track-1 {
  background: rgb(166,179,255);
}
.example-track.example-track-2 {
  background: rgb(224,226,233);
  border: 0;
  border-radius: 5px;
}

.horizontal-slider .example-thumb-0 {
  top: 1px;
  width: 16px;
  height: 16px;
  line-height: -38px;
}

.example-thumb-0 {
  font-size: 0.9em;
  text-align: center;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  border: 3px solid #235DB1;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 0 0 rgb(35,93,177);
  margin-top: 16px;
  margin-left: -2px;
  
}

.example-thumb-0:hover{
  color: rgb(35,93,177);
  box-shadow: 5px 5px 15px rgb(35,93,177);
}

.example-thumb-0:active{
  background-color: #235DB1;
}

.horizontal-slider .example-thumb-1 {
  top: 1px;
  width: 16px;
  height: 16px;
  line-height: 38px;
}

.example-thumb-1 {
  font-size: 0.9em;
  text-align: center;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  border: 3px solid #A6B3FF;
  border-radius: 50px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-left: -2px;
}

.example-thumb-1:hover{
  color: rgb(166,179,255);
  box-shadow: 5px 5px 15px rgb(166,179,255);
}

.example-thumb-1:active{
  background-color: #A6B3FF;
}

.valuerange{
  width: 40px;
  height: 40px;
  background: #235DB1;
  position: absolute;
  border-radius: 2rem 2rem 2rem .25rem;
  transform: rotate(-45deg);
  display: grid;
  place-items: center;
}

.number{
  transform: rotate(45deg);
  color: #ffffff;
  background: none;
  font-size: 15px;
  font-weight: 500;
}

